@media (min-width: 769px) {
  #card {
    max-width: 500px;
  }
  #card img {
    width: 150px;
    height: 100px;
  }
  #menu-container {
    max-width: 1500px;
    margin: 0 auto;
  }
}
@media (max-width: 769px) {
  #card {
    max-width: 400px;
  }
  #card img {
    width: 100%;
  }
}
#card p {
  font-size: 14px;
  color: rgb(33, 33, 33);
}
img {
  border: 3px solid goldenrod;
}
